prefect==3.1.0
SQLAlchemy~=2.0.36
clickhouse-driver~=0.2.9
clickhouse-sqlalchemy~=0.3.2

numpy==1.26.4  # needs numpy 1.x
pandas==2.2.2
networkx==3.3
scipy==1.14.0
scikit-learn==1.5.1
gurobi-optimods==1.1.0
gurobipy==11.0.2
gurobipy-pandas==1.1.2